---
import "cropperjs/dist/cropper.css";
---

<html>
  <head>
    <title>Profile Image Cropper</title>
  </head>
  <body>
    <!-- Original Image to Crop -->
    <div class="preview"></div>
    <div>
      <img id="image" src="/uploads/1730792349287.png" alt="Profile Image" />
    </div>

    <!-- Button to Crop the Image -->
    <button id="crop-btn">Crop Image</button>

    <!-- Canvas to Display the Cropped Image -->
    <div>
      <h3>Cropped Image:</h3>
      <img id="croppedImage" alt="Cropped Image" />
    </div>
    <style>
        /* Make the preview circular */
        .preview {
          border-radius: 50%;
          overflow: hidden;
          width: 200px; /* Set width and height */
          height: 200px;
        }
      </style>

    <script>
      import Cropper from "cropperjs";
    //   document.addEventListener("astro:page-load", () => {
        let cropper: Cropper;
        const cropBtn = document.querySelector('#crop-btn') as HTMLButtonElement;
        
        function initializeCropper() {
          const image = document.getElementById("image") as HTMLImageElement;

          cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
            preview:".preview",

            crop(event) {
              console.log(event.detail.x);
              console.log(event.detail.y);
            },
          });
        }
        cropBtn.addEventListener('click', cropImage)
        document.addEventListener("DOMContentLoaded", initializeCropper);

        function cropImage() {
          const croppedCanvas = cropper.getCroppedCanvas();
          const croppedImage = document.getElementById(
            "croppedImage",
          ) as HTMLImageElement;
          croppedImage.src = croppedCanvas.toDataURL();
        }

        cropImage();
    //   });
    </script>
  </body>
</html>
