---
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import { actions, isInputError } from "astro:actions";

export const prerender = false;

const result = Astro.getActionResult(actions.user.forgotPassword);

const inputError = isInputError(result?.error) ? result.error.fields : {};

---

<Layout title="Forgot Password">
  <h1>Forgot Password</h1>
  <form action={actions.user.forgotPassword} method="post">
    <Input
      name="email"
      id="email"
      type="email"
      placeholder="Enter your email"
      inputError={inputError}
    />
    <button type="submit">Submit</button>
  </form>
</Layout>
