---
import Layout from "@/layouts/Layout.astro";
import { actions } from "astro:actions";

export const prerender = false;

const result = Astro.getActionResult(actions.user.forgotPassword);

console.log("+++++++++++++++", result?.data);
---

<Layout title="Forgot Password">
    <h1>Forgot Password</h1>
    <form >
        <input type="email" placeholder="Enter your email" />
        <button>Submit</button>
    </form>
</Layout>