---
export const prerender = false;
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import "@/style/form.scss";
import "@/style/components.scss";

const result = Astro.getActionResult(actions.oauthGoogleAuth.googlelogin);
// if (result && !result.error) {
//   const ranjeet = "https://google.com";
//   console.log("in no error");
//   console.log(result);
//   return Astro.redirect(ranjeet);
// } else {
//   console.log(result);
//   console.log("in error");
// }
if (result && result.data) {
  console.log("karan is working");
  return Astro.redirect(result.data);
}
---

<Layout title="Login Page with Google">
  <form action={actions.oauthGoogleAuth.googlelogin} method="post">
    <button type="submit">Sign in with Google</button>
  </form>
</Layout>
{}
