---
export const prerender = false;
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import "@/style/form.scss";
import "@/style/components.scss";

const result = Astro.getActionResult(actions.oauthGoogleAuth.googlelogin);

const link = result?.data?.redirectUrl;
if ( result && !result.error) {
  // Only attempt redirect on the server
  return Astro.redirect(link);
}
---

<Layout title="Login Page with Google">
  <form action={actions.oauthGoogleAuth.googlelogin} method="post">
    <button type="submit">Sign in with Google</button>
  </form>
</Layout>
