---
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import "@/style/form.scss";
import "@/style/components.scss";
---

<Layout title="Login Page with google">
  <from action={actions.oauthGoogleAuth.index}>
    <button type="submit">
      sign in with google
    </button>
  </from>
  <a href={actions.oauthGoogleAuth.index}>Sign in with Google</a>
</Layout>
