---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Logout from "@/components/Logout.astro";
import { actions } from "astro:actions";

const user = Astro.locals.user;
if (!user) {
  // console.log("user not found");
} else {
  // console.log("user found");
}
---

<!-- src/components/UploadForm.astro -->
<form
  action={actions.uploadFile.uploadfile}
  method="post"
  enctype="multipart/form-data"
>
  <label for="file">Upload an image:</label>
  <input type="file" id="file" name="file" accept="image/*" />
  <input type="text" name="ritik" />
  <button type="submit">Upload</button>
</form>

<a href="/listing">listing</a>
<a href="/userprofile">userProfile</a>
<a href="/login">login</a>

<Layout title="Welcome to Ritik.">
  <main>
    <h1>Welcome to <span class="text-gradient">Karan</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <Logout />
  </main>
</Layout>
