---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Logout from "@/components/Logout.astro";
import { actions } from "astro:actions";
// import {getCurruntLocation} from "@/utils/Location"
// import {getLocationByIP} from "@/utils/getLocationByIP"

const user = Astro.locals.user;

// const location = get
// console.log(location)

// console.log(location,"here is my location")

if (!user) {
  console.log("user not found");
} else {
  console.log("user found");
}

// console.log(actions.oauthGoogleAuth);
---

<!-- src/components/UploadForm.astro -->
<form
  action={actions.uploadFile.uploadfile}
  method="post"
  enctype="multipart/form-data"
>
  <label for="file">Upload an image:</label>
  <input type="file" id="file" name="file" accept="image/*" />
  <input type="text" name="ritik" />
  <button type="submit">Upload</button>
</form>

<a href="/listing">listing</a>
<a href="/userprofile">userProfile</a>
<a href="/login">login</a>

<Layout title="Welcome to Ritik.">
  <main>
    <h1>Welcome to <span class="text-gradient">Karan</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <Logout />
  </main>
</Layout>
<script>
  import { getCurrentLocation } from "@/utils/Location";

  const data = await getCurrentLocation();
  console.log("data------>->->-->-->->", data.address.city);
</script>
