---
export const prerender = false;
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import Input from "@/components/Input.astro";
import "@/style/form.scss";
import "@/style/components.scss";
import Toast from "@/components/Toast.astro";

const result = Astro.getActionResult(actions.user.login);
console.log(result);
const inputError = isInputError(result?.error) ? result.error.fields : {};

const user = Astro.locals.user;
if (user) {
  return Astro.redirect("/");
}

const toastMessage = result?.error ? result.error.message : "";
---

<Layout title="Login Page">
  <div class="error">
    {result?.error && result.error.message}
    {toastMessage && <Toast message={toastMessage} />}
  </div>
  <form method="post" action={actions.user.login}>
    <Input
      name="username"
      id="username"
      pattern="^[a-zA-Z][a-zA-Z0-9_]{2,15}$"
      className="showError"
      placeholder="Enter Your Username"
      inputError={inputError}
    />
    <div class="password-wrapper">
      <Input
        type="password"
        name="password"
        id="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%*?&])[A-Za-z0-9@$!%*?&]{8,}$"
        className="showError"
        placeholder="Enter Your Password"
        inputError={inputError}
      />
      <span class="toggle-password" id="togglePassword"></span>
    </div>

    <div class="forgot-password">
      <a href="/forgotpassword">Forgot Password?</a>
      <!-- or use a button with an onClick event to trigger modal if needed -->
    </div>
    <div>
      <a href="/login/google">Sign in with Google</a>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</Layout>

<script>
  const passwordInput = document.getElementById("password") as HTMLInputElement;
  const togglePassword = document.getElementById(
    "togglePassword",
  ) as HTMLSpanElement;

  togglePassword.addEventListener("click", () => {
    const type =
      passwordInput.getAttribute("type") == "password" ? "text" : "password";
    passwordInput.setAttribute("type", type);

    if (type == "password") {
      togglePassword.style.backgroundImage =
        "url('/public/images/mdi--eye.svg')";
    } else {
      togglePassword.style.backgroundImage =
        "url('/public/images/mdi--eye-off.svg')";
    }
  });
</script>
