---
export const prerender = false;
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import Input from "@/components/Input.astro";
import "@/style/form.scss";

const result = Astro.getActionResult(actions.user.login);
console.log(result);
const inputError = isInputError(result?.error) ? result.error.fields : {};
console.log(inputError);
const user = Astro.locals.user;
if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Login Page">
  <div class="error">
    {result?.error && !inputError && result.error.message}
  </div>
  <form method="post" action={actions.user.login}>
    <Input
      name="username"
      id="username"
      pattern="^[a-zA-Z][a-zA-Z0-9_]{2,15}$"
      className="showError"
      placeholder="Enter Your Username"
      inputError={inputError}
    />
    <Input
      name="password"
      id="password"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%*?&])[A-Za-z0-9@$!%*?&]{8,}$"
      className="showError"
      placeholder="Enter Your Password"
      inputError={inputError}
    />
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</Layout>
