---
export const prerender = false;
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import Input from "@/components/Input.astro";
import "@/style/form.scss";

const result = Astro.getActionResult(actions.user.login);
const inputError = isInputError(result?.error) ? result.error.fields : {};
const user = Astro.locals.user;
if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Login Page">
  <div class="error">
    {result?.error && !inputError && result.error.message}
  </div>
  <form method="post" action={actions.user.login}>
    <Input name="username" id="username" inputError={inputError} />
    <Input name="password" id="password" inputError={inputError} />
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</Layout>
