<form id="register">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

<script>
import { actions } from "astro:actions";

    const registerForm = document.getElementById('register') as HTMLFormElement ;
    registerForm?.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(registerForm);
        try {
            const { data: responseData, error } = await actions.user.register(formData);
            console.log("data", responseData);
            console.log("Error = ", error);
        } catch (error) {
            console.log("Error is:", error);
        }
    });
</script>
