---
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import { actions, isInputError } from "astro:actions";

export const prerender = false;

const result = Astro.getActionResult(actions.user.resetPassword);
const inputError = isInputError(result?.error) ? result.error.fields : {};
---

<Layout title="Reset Password">
  <h1>Reset Password</h1>
  <form method="post" action={actions.user.resetPassword}>
    <Input type="hidden" name="token" value={Astro.url.searchParams.get("token") || ""}/>
    <Input
      type="password"
      name="newPassword"
      id="new_password"
      className="showError"
      placeholder="Enter Your New Password"
      inputError={inputError}
    />

    <button type="submit">Reset Password</button>
  </form>
</Layout>
