---
import Layout from "@/layouts/Layout.astro"

import { actions } from "astro:actions"
// import { contentObservable } from "node_modules/astro/dist/content/utils"

const result = await Astro.callAction(actions.smallActions.seed,{})
---

<Layout title="all seeds">
    <h1>all seeds</h1>
    
</Layout>
