---
import SendStar from "@/components/rating/SendStar.astro";
import ShowStar from "@/components/rating/ShowStar.astro";
---

<SendStar />
<div>ritik</div>
<SendStar />
<div>karan</div>
<SendStar />
<div>end</div>

<ShowStar ratingValue="1.7" />
