input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 50px;
  color: inherit;
  padding-inline: 30px;
  font-size: 100%;
  letter-spacing: 1.5px;
}

input:focus {
  outline: 2px solid rgb(240, 100, 209);
}

button {
  cursor: pointer;
  color: inherit;
  padding: 1em 2em;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 3px;
  &:hover {
    opacity: 0.8;
  }
}
