input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 50px;
  color: inherit;
  padding-inline: 30px 80px;
  // padding-right: 80px;
  font-size: 100%;
  letter-spacing: 1.5px;
}

input:focus {
  outline: 2px solid rgb(240, 100, 209);
}

button {
  padding: 0.8em 3em;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primaryTheme); // Dark background to match inputs
  color: var(--secondary); // White text
  border: 1px solid var(--secondary); // Thin white border
  border-radius: 8px; // Slightly rounded edges to match input styling
  cursor: pointer;
  
  background-image: linear-gradient(
    135deg,
    var(--primaryTheme) 0%,
    var(--secondaryTheme) 100%
  ); // Gradient to match the background style

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); // Subtle shadow to lift the button

  &:hover {
    background-image: linear-gradient(
      135deg,
      var(--secondaryTheme) 0%,
      var(--primaryTheme) 100%
    ); // Invert gradient on hover
    color: var(--textColor); // Invert text color on hover to match theme
  }

  &:active {
    background-color: var(--primary); // Darker shade on click
    box-shadow: none; // Remove shadow for a pressed-in effect
  }
}

.password-wrapper {
  position: relative;
}
input{
  padding-right: 80px;
}
.toggle-password {
  position: absolute;
  right: 35px;
  top: 65%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url("/images/mdi--eye.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
}


label {
  display: block;
  font-size: 1rem;
  color: var(--primary); // Use the primary color from your theme
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

