form {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: min(300px, 90vw);
  gap: 15px;

  * {
    width: 100%;
    min-width: 0;
  }
  label{
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    letter-spacing: 3px;
  }
  input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    height: 50px;
    margin: 6px 0;
    padding-inline: 30px;
    font-size: 100%;
    color: white;
    letter-spacing: 1.5px;
    
  }
  input:focus{
    outline: 2px solid rgb(240, 100, 209);
  }

  button[type="submit"] {
    background-color: transparent;
    color: white; 
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 100%;
    padding: 10px 0px;
    border: 2px solid white;
    border-radius: 3px;
    &:hover {
      opacity: 0.8;
    }
  }
  input:invalid:not(:placeholder-shown) {
    // border-color: red;
    outline: 2px solid red;
    border-radius: 2px;
    // outline-offset: 1px;
    border: 1px solid black;
    // background-image: url(/public/images/icon-park--correct.svg);
  }

  input:valid:not(:placeholder-shown) {
    background-image: url(/public/images/icon-park--correct.svg);
  }

  // input:invalid:not(:placeholder-shown),
  input:valid:not(:placeholder-shown) {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
  }

  input + .show-error {
    visibility: hidden;
  }

  input:invalid:not(:placeholder-shown) + .show-error {
    visibility: visible;
  }

  &:has(input:invalid, input:placeholder-shown) button[type="submit"] {
    opacity: 0.6;
    pointer-events: none;
  }
}
