@use "./mixin.scss" as m;

:root {
  --primaryTheme: #717171;
  --secondaryTheme: #1e1e20;
  --textColor: black;
  --primary: black;
  --secondary: white;
  --backgroundColor: linear-gradient(
    90deg,
    rgb(64, 45, 68) 0%,
    rgb(31, 26, 83) 50%,
    rgb(73, 50, 79) 100%
  );
}
:root[data-theme="dark"] {
  --primaryTheme: #1e1e20;
  --secondaryTheme: #717171;
  --textColor: white;
  --primary: white;
  --secondary: black;
  --backgroundColor: linear-gradient(
    90deg,
    rgba(27, 18, 29, 1) 0%,
    rgba(18, 15, 47, 1) 50%,
    rgba(27, 18, 29, 1) 100%
  );
  --backgraundCircleLeft: #cc00ff;
  --backgraundCircleRight: #7000ff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: var(--backgroundColor);
  letter-spacing: 0;
  line-height: 1.44;
  font-weight: 400;
  letter-spacing: 1.5;
  color: var(--textColor);
  position: relative;
  word-break: break-word;
  min-height: 100vh;

  // adding dynamic font size
  @include m.autoMinMaxSize("font-size", 14, 16);

  &::before,
  &::after {
    z-index: -1;
    content: "";
    position: fixed;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    filter: blur(150px);
  }
  &::before {
    top: 27.5%;
    left: 23.9%;
    background-color: var(--backgraundCircleLeft);
  }

  &::after {
    top: 42.8%;
    right: 25%;
    background-color: var(--backgraundCircleRight);
  }
}
